---
import Header from "../components/Header.astro"
import Hero from "../components/Hero.astro"
import Form from "../components/Form.astro"
import Footer from "../components/Footer.astro"
import FloatingWhatsAppButton from "../components/FloatingWhatsAppButton.astro"
---

<html lang="es">
  	<head>
    	<meta charset="UTF-8">
    	<title>Web de la Psicóloga</title>
  	</head>
  	<body>
    	<Header />
		<Hero />
		<Form />
		<Footer />
		<FloatingWhatsAppButton />
  	</body>
</html>