<div class="bg-gray-100 py-16">
    <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
      <h2 class="text-3xl font-semibold tracking-tight text-gray-900 text-center">Mis Servicios</h2>
      <div class="mt-12 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-2">
        <div class="bg-white shadow-lg rounded-lg p-4 sm:p-6 mx-auto w-full sm:w-4/5 lg:w-3/5 transition duration-300 transform hover:scale-105 hover:bg-gradient-to-r hover:from-[#F4A698] hover:to-[#F4C0A2]">
          <h3 class="text-lg font-semibold text-green-700 mb-2 sm:mb-4">Psicoterapia Individual</h3>
          <p class="text-sm text-gray-500">Atención personalizada para el bienestar emocional.</p>
        </div>
        <div class="bg-white shadow-lg rounded-lg p-4 sm:p-6 mx-auto w-full sm:w-4/5 lg:w-3/5 transition duration-300 transform hover:scale-105 hover:bg-gradient-to-r hover:from-[#F4A698] hover:to-[#F4C0A2]">
          <h3 class="text-lg font-semibold text-green-700 mb-2 sm:mb-4">Terapia de Pareja</h3>
          <p class="text-sm text-gray-500">Ayuda para mejorar la comunicación y resolver conflictos.</p>
        </div>
        <div class="bg-white shadow-lg rounded-lg p-4 sm:p-6 mx-auto w-full sm:w-4/5 lg:w-3/5 transition duration-300 transform hover:scale-105 hover:bg-gradient-to-r hover:from-[#F4A698] hover:to-[#F4C0A2]">
          <h3 class="text-lg font-semibold text-green-700 mb-2 sm:mb-4">Terapia Familiar</h3>
          <p class="text-sm text-gray-500">Sesiones para fortalecer las relaciones familiares.</p>
        </div>
        <div class="bg-white shadow-lg rounded-lg p-4 sm:p-6 mx-auto w-full sm:w-4/5 lg:w-3/5 transition duration-300 transform hover:scale-105 hover:bg-gradient-to-r hover:from-[#F4A698] hover:to-[#F4C0A2]">
          <h3 class="text-lg font-semibold text-green-700 mb-2 sm:mb-4">Evaluaciones Psicológicas</h3>
          <p class="text-sm text-gray-500">Evaluaciones para comprender mejor las necesidades.</p>
        </div>
        <div class="bg-white shadow-lg rounded-lg p-4 sm:p-6 mx-auto w-full sm:w-4/5 lg:w-3/5 transition duration-300 transform hover:scale-105 hover:bg-gradient-to-r hover:from-[#F4A698] hover:to-[#F4C0A2]">
          <h3 class="text-lg font-semibold text-green-700 mb-2 sm:mb-4">Asesoramiento Educativo</h3>
          <p class="text-sm text-gray-500">Orientación para el desarrollo académico y emocional.</p>
        </div>
        <div class="bg-white shadow-lg rounded-lg p-4 sm:p-6 mx-auto w-full sm:w-4/5 lg:w-3/5 transition duration-300 transform hover:scale-105 hover:bg-gradient-to-r hover:from-[#F4A698] hover:to-[#F4C0A2]">
          <h3 class="text-lg font-semibold text-green-700 mb-2 sm:mb-4">Terapia Cognitivo-Conductual</h3>
          <p class="text-sm text-gray-500">Terapia enfocada en cambiar patrones de pensamiento.</p>
        </div>
        <div class="bg-white shadow-lg rounded-lg p-4 sm:p-6 mx-auto w-full sm:w-4/5 lg:w-3/5 transition duration-300 transform hover:scale-105 hover:bg-gradient-to-r hover:from-[#F4A698] hover:to-[#F4C0A2]">
          <h3 class="text-lg font-semibold text-green-700 mb-2 sm:mb-4">Atención a Adolescentes</h3>
          <p class="text-sm text-gray-500">Soporte emocional para jóvenes en etapa de crecimiento.</p>
        </div>
        <div class="bg-white shadow-lg rounded-lg p-4 sm:p-6 mx-auto w-full sm:w-4/5 lg:w-3/5 transition duration-300 transform hover:scale-105 hover:bg-gradient-to-r hover:from-[#F4A698] hover:to-[#F4C0A2]">
          <h3 class="text-lg font-semibold text-green-700 mb-2 sm:mb-4">Terapia de Duelo</h3>
          <p class="text-sm text-gray-500">Apoyo en momentos difíciles para superar la pérdida.</p>
        </div>
        <div class="bg-white shadow-lg rounded-lg p-4 sm:p-6 mx-auto w-full sm:w-4/5 lg:w-3/5 transition duration-300 transform hover:scale-105 hover:bg-gradient-to-r hover:from-[#F4A698] hover:to-[#F4C0A2]">
          <h3 class="text-lg font-semibold text-green-700 mb-2 sm:mb-4">Coaching Psicológico</h3>
          <p class="text-sm text-gray-500">Orientación para alcanzar metas y objetivos personales.</p>
        </div>
        <div class="bg-white shadow-lg rounded-lg p-4 sm:p-6 mx-auto w-full sm:w-4/5 lg:w-3/5 transition duration-300 transform hover:scale-105 hover:bg-gradient-to-r hover:from-[#F4A698] hover:to-[#F4C0A2]">
          <h3 class="text-lg font-semibold text-green-700 mb-2 sm:mb-4">Terapia Online</h3>
          <p class="text-sm text-gray-500">Sesiones de terapia desde la comodidad de tu hogar.</p>
        </div>
      </div>
    </div>
  </div>  
  